{% extends 'base.html' %}
{% block title %} Agregar Flan {% endblock %}
{% block 'content' %}
{% load bootstrap %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h3 class="text-center">Agregar Nuevo Flan</h3>
            <form action="{% url 'agregar_flan' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Mostrar errores no relacionados con campos -->
                {{ form.non_field_errors }}

                <!-- Campo de nombre -->
                <div class="mb-3 text-left">
                    <label for="{{ form.name.id_for_label }}" class="form-label">
                        {{ form.name.label_tag }}
                    </label>
                    <div>
                        {{ form.name|add_class:"form-control" }}
                    </div>
                    <div class="text-danger">
                        {{ form.name.errors }}
                    </div>
                </div>

                <!-- Campo de descripción -->
                <div class="mb-3 text-left">
                    <label for="{{ form.description.id_for_label }}" class="form-label">
                        {{ form.description.label_tag }}
                    </label>
                    <div>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="text-danger">
                        {{ form.description.errors }}
                    </div>
                </div>

                <!-- Campo de imagen -->
                <div class="mb-3 text-left">
                    <label for="{{ form.image_url.id_for_label }}" class="form-label">
                        {{ form.image_url.label_tag }}
                    </label>
                    <div>
                        {{ form.image_url|add_class:"form-control" }}
                    </div>
                    <div class="text-danger">
                        {{ form.image_url.errors }}
                    </div>
                </div>

                <!-- Campo de privacidad -->
                <div class="mb-3 text-left">
                    <label for="{{ form.is_private.id_for_label }}" class="form-label">
                        {{ form.is_private.label_tag }}
                    </label>
                    <div>
                        {{ form.is_private|add_class:"form-check-input" }}
                    </div>
                    <div class="text-danger">
                        {{ form.is_private.errors }}
                    </div>
                </div>

                <!-- Campo de precio -->
                <div class="mb-3 text-left">
                    <label for="{{ form.price.id_for_label }}" class="form-label">
                        {{ form.price.label_tag }}
                    </label>
                    <div>
                        {{ form.price|add_class:"form-control" }}
                    </div>
                    <div class="text-danger">
                        {{ form.price.errors }}
                    </div>
                </div>

                <!-- Campo de slug -->
                <div class="mb-3 text-left">
                    <label for="{{ form.slug.id_for_label }}" class="form-label">
                        {{ form.slug.label_tag }}
                    </label>
                    <div>
                        {{ form.slug|add_class:"form-control" }}
                    </div>
                    <div class="text-danger">
                        {{ form.slug.errors }}
                    </div>
                </div>

                <!-- Botón de enviar -->
                <div class="text-left">
                    <button type="submit" class="btn btn-primary custom-button-success">
                        <i class="fa-solid fa-cloud-arrow-up mr-2"></i> Guardar Flan
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}