{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block 'content' %}
<div class="container">
    <h3 class="text-center my-4">Flanes públicos</h3>
    <div class="row">
        {% for flan in flanes_publicos %}
        <div class="col-6 col-md-3">
            <div class="card m-2" style="">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{flan.name}}</h5>
                    <p class="card-text">{{flan.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock%}