{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block 'content' %}
{% load custom_filters %}
<div class="container">
    <div class="row">
        <div class="row bg-custom-primary m-0">
            <div class="col">
                <div class="h-100 p-5 text-white bg-custom-primary">
                    <h2>Nuestros productos</h2>
                    <p>Onlyflans nace en el 2021 buscando entregar flanes de calidad</p>
                    <a href="{% url 'acerca' %}" class="btn btn-outline-light">Conoce más</a>
                </div>
            </div>
        </div>
        {% for flan in flanes_publicos %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card m-3">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{flan.name}}</h5>
                    <hr>
                    <p class="card-text">{{flan.description}}</p>
                    <h4 class="text-dark fw-bold pt-2">${{flan.price|intdot}}</h4>
                    <hr>


                    <div class="container">
                        <div class="row align-items-center justify-content-center custom-button">

                            <div class="col-auto">
                                <i class="fa-solid fa-cart-plus fa-lg text-light "></i>
                            </div>
                            <div class="col-auto">
                                <p class="text-light mt-3">Agregar al carrito</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock%}