{% extends 'base.html' %}
{% block title %} Bienvenido {% endblock %}
{% block 'content' %}

{% load custom_filters %}
<div class="container">
    <div class="row">
        <div class="row bg-custom-primary m-0">
            <div class="col">
                <div class="h-100 p-5 text-white  bg-custom-primary">
                    <h2>Bienvenido <span class="custom-user fw-bold">{{user.get_username|capfirst}}</span></h2>
                    <p>Tenemos una lista de productos exclusivos para ti. Quieres conocer mas?</p>

                    <div class="row">
                        <div class="col">
                            <a href="{% url 'contacto' %}" class="btn btn-outline-light">Contactanos</a>
                            <a href="{% url 'resena' %}" class="btn custom-button custom-button-success">Reseña</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for flan in flanes_privados %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card m-2">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{flan.name}}</h5>
                    <hr>
                    <p class="card-text">{{flan.description}}</p>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h6 class="text-grey text-decoration-line-through">${{flan.price|intdot}}</h6>
                        </div>

                        <div class="col-auto">
                            <span class="badge text-bg-danger mx-4">
                                <h6 class="fw-bold pt-1">
                                    {{flan.actual_offer}}%
                                </h6>
                                <p class="text-light">
                                    dcto.
                                </p>
                            </span>
                        </div>

                    </div>
                    <h4 class="text-dark fw-bold pt-2">Ahora: ${{flan.discounted_price|intdot}}</h4>
                    <hr>


                    <div class="container">
                        <div class="row align-items-center justify-content-center custom-button">
                            <div class="col-auto">
                                <i class="fa-solid fa-cart-plus fa-lg text-light "></i>
                            </div>
                            <div class="col-auto">
                                <p class="text-light mt-3">Agregar al carrito</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock%}