:root {
  --primary: #872202ff;
  --secondary: #ede7deff;
  --accent: #da861dff;
  --white: #ffffffff;
  --khaki: #b59c87ff;
  --success: #00da66;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--white) !important;
}
h3 {
  font-family: "Lobster", sans-serif;
  color: var(--primary);
}
.custom-footer {
  background-color: var(--primary);
  height: 127px;
}
.custom-footer p {
  font-size: 15px;
  color: var(--white);
}

.custom-user {
  color: var(--accent) !important;
}
.custom-button {
  background-color: var(--primary);
  border-color: transparent !important;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.custom-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  border-radius: inherit;
}

.custom-button:hover {
  background-color: var(--accent);
  border-radius: 0 !important;
}

.custom-button:hover::after {
  transform: scale(1);
}
.bg-custom-primary {
  background-color: var(--primary) !important;
  border-radius: 0 !important;
  border-color: transparent;
}
.carousel-img {
  max-height: 400px;
  object-fit: cover;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--khaki);
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: var(--khaki);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--primary);
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--primary);
}

.navbar-nav .nav-item.active .nav-link::after {
  width: 100%;
  left: 0;
  background: var(--primary);
}
.custom-slot-offer {
  width: 60px !important;
  height: auto;
  background-color: var(--accent) !important;
  color: var(--secondary);
  font-size: large;
}
.custom-button-warning {
  background-color: var(--accent);
  border-color: transparent;
  color: var(--white);
}
.custom-button-danger {
  background-color: var(--primary);
  border-color: transparent;
}
.custom-button-success {
  background-color: var(--success);
  border-color: transparent;
}
